:root {
  --background-body: #2c2e43;
  --background: #2c2e43;
  --background-alt: #2c2e43;
  --selection: #c5b41c;
  --text-main: rgb(216, 216, 216);
  --text-bright: rgb(241, 241, 241);
  --text-muted: #b7baa9;
  --links: #cfc693;
  --focus: #cfc69391;
  --border: #cfc693;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: rgba(71, 71, 71, 0.5);
  --button-hover: #8b8668;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #e27441;
  --highlight: #efdb43;
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: #efefef);
}
